* {
     box-sizing:border-box;
}

:root {
    --color1: rgb(156, 190, 245);
    --color2: aliceblue;
    --color3: #F4F4F4;
}

body {
    margin : 0;
    font-family: Arial;
    line-height: 1.5;
}

iframe {
    width: 100%;
    height: 350px;
}

div.cover {
    background: url(cover_overlay.png) no-repeat center/cover,url(cover.jpg) no-repeat center/cover;
    height: 360px
}

img.cover-profil {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px
}

h1 {
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0px;
}

div.cover p {
    color: lightgray;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

div.cover-contact {
    /*background-color: royalblue;*/
    position: absolute;
    top: 16px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
}

div.cover-contact p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.cover-contact p:first-child {
    margin-bottom: 14px;
}

div.cover-contact * {
    color: white;
    font-size: 14px;
}

a.contact-button {
    color: var(--color1);
    border: 3px solid var(--color1);
    padding: 8px 20px;
    text-decoration: none;
    background-color: #00000040;
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;
}

a.contact-button:hover {
    color: var(--color2);
    border: 3px solid var(--color2);
}

.section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

div.section-grise1 {
    background: url(triangle2white.svg) no-repeat center bottom -1px/100%;
    background-color: var(--color3);
    padding-bottom: 80px;  
}

div.separateur {
    width: 150px;
    height: 1px;
    background-color: var(--color1);
    margin-left: auto;
    margin-right: auto;
}

div.introduction {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #656565;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

div.section-grise2 {
    background: url(triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color3);
    padding-top: 80px;
}

h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

.col40 {
    width: 40%;
}

.col60 {
    width: 60%;
}

.float-right {
    float: right;
}

div.text_ligne_vertical {
    margin-top: 0;
    border-left: 3px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}

div.text_ligne_vertical p {
    margin-top: 0;
}

img.img-profil2 {
    border-radius: 10%;
    height: 250px;
    object-fit: cover;
}

div.barre_vertical {
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 8px;
}

.col-portfolio {
    width: 45%;
}

h2.end-part {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.frame {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

table.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

td.left {
    padding-right: 20px;
}

img.cover-profil2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 0px
}

div.portfolio-header {
    background: url(header.jpg) no-repeat center/cover;
    height: 90px;
    position: relative;
}

p.portfolio-header-title {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-top: 4px;
    padding-left: 8px;
}

h1.portfolio {
    font-size: 46px;
    color: black;
    padding-top: 10px;
}

h2.portfolio {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 0;
}

a.portfolio-back {
    color: var(--color1);
    margin-left: -10px;
}

img.portfolio {
    width: 70%;
    max-width: 550px;
}

@media only screen and (max-width:768px) {

    img.cover-profil {
    height: 90px;
    margin-top: 85px
    }

    h1 {
        font-size: 38px;
        margin-top: 6px;
        margin-bottom: 0px;
    }

    div.cover p {
        color: lightgray;
        text-align: center;
        margin-top: 5px;
        font-size: 14px;
    }

    .section {
        padding-left: 20px;
        padding-right: 20px;
    }

    div.section-grise1 {
        padding-bottom: 40px;  
    }
    
    h2 {
    font-size: 30px;
    }
}